@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --light: #e0dcda;
    --dark: #060d26;
    --primary: #5e5055;
    --secondary: #865250;
    --error: #db8683;
}

/* Remove Default Styling */


* {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: var(--light);
    transition: all 300ms;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: var(--dark);

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input {
    background: var(--light);
    color: var(--dark);
    font-size: 0.75rem;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

/* Navigation */


nav {
    position: fixed;
    width: 90%;
    padding: 0 5%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 100000;
}

nav ul {
    display: flex;
    flex: 9;

    max-width: 300px;

    justify-content: space-evenly;
    align-items: center;
}

nav ul li span {
    display: block;
    height: 15px;
    width: 2px;
    background: var(--light);
}

nav a {
    transition: all 300ms;
}

nav a:hover {
    color: var(--primary);
    text-shadow: var(--dark) 2px 2px 2px;
}

nav img {
    width: 10vw;
    height: auto;
    filter: invert(100%);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    width: 98vw;
    padding: 1vh 1vw;

    height: 10vh;

    background: var(--primary);
}

footer section:nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

footer section:nth-child(3) *{
    text-align: right;
}




