{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="icon" href="{% static 'home/assets/img/logo.png' %}">
    {% block extra_head %}{% endblock %}

    <title>{% block title %}Django App{% endblock %}</title>
</head>
<body>

    <nav>
        <img src="{% static 'home/assets/img/logo.png' %}" alt="">
        
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Login</a></li>
            <li><span></span></li>
        </ul>
    </nav>

    <header>
        {% block header %}
        {% endblock %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer></footer>
</body>
</html>